input[type=button]
{
	background-color: #ee0000;
	border: 2px black solid;
	display: inline;
	font-size: 2em;
	padding: 5px 10px;
	margin: 0 5px 0 0;
}

input[type=text]
{
	margin: 10px 5px; 
	font-size: 1.5em;
	padding: 5px;
	color: black;
	background-color: inherit;
	opacity: 0.75;
	width: calc(100% - 29px - 2em);
}

input::placeHolder
{
	font-size: 0.7em;
	color: black;
}

div.chosen
{
	background-color: orange;
}