#container
{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 90%;
	margin: auto;
	padding-bottom: 50px;
}

choice
{
	margin: 5px;
	background-color: lightslategray;
	border: 2px black solid;
	border-radius: 10px;
}

#controls
{
	height: 200px;
	margin: auto;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: lightsteelblue;
	border-bottom: 3px black solid;
}
