div
{
	margin: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, auto);
	column-gap: 10px;
	row-gap: 5px;
}

label
{
	grid-row: 1;
	grid-column: 1;
	justify-self: right;
	font-size: 1.5em;
}

input
{
	grid-row: 1;
	grid-column: 2;
	width: 13ch;
	justify-self: left;
}

textarea
{
	resize: none;
	grid-row: -1;
	grid-column: 1 / span 2;
	white-space: pre;
	overflow-wrap: normal;
	overflow-x: scroll;
	font-family: monospace;
}

button
{
	font-size: 1.5em;
}

button#cancel
{
	grid-column: 1 / span 2;
	grid-row: 2;
	background-color: red;
}

button#continue
{	
	grid-column: 1 / span 2;
	grid-row: 3;
	background-color: lawngreen;
}

@media screen and (min-width: 768px) 
{
	div
	{
		grid-template-rows: repeat(3, auto); 
		width: max-content;
		margin: 15px auto;
	}

	button#cancel
	{
		grid-column: 1 / span 1;
		grid-row: 2;
	}

	button#continue
	{
		grid-column: 2 / span 1;
		grid-row: 2;
	}

	textarea
	{
		width: 100ch;
	}
}